/* Navigation bar */
@import url(styles.css);

/* Hero (body) */
.top-info h1 {
    font-family: 'Esteban', serif;
    color: #4E9FB3;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 100px;
    background-color: #e0000034;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    width: 95%;
}

.products {
    flex-basis: 40%;
}

.row {
    width: 220px;
    height: 500px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 40px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    padding-bottom: 10px;
}

.row img {
    width: 220px;
    height: 100%;
    transition: all .40s;
    padding-top: 0px;
    border: 2px solid #999896;
}

.row img:hover {
    transform: scale(0.95);
}

.product-text h2 {
    position: relative;
    width: 100%;
    font-family: 'Esteban', serif;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-top: 5px
}

.detail h3 {
    position: relative;
    margin-top: 10px;
    line-height: 1.0;
    font-size: 14px;
    font-weight: 500;
}

.detail h3:first-child {
    margin-top: 10px;
}

.detail p {
    margin-top: 5px;
    color: #4E9FB3;
    font-size: 18px;
    font-weight: 600;
}

.btn-add-to-cart {
    display: block;
    margin-top: 10px;
    background-color: #4E9FB3;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.btn-add-to-cart:hover {
    background-color: #FF9252;
    color: black;
}





/* ----- Media querry body 899px------ */

@media (max-width:899px) {
    .row img:hover {
        transform: scale(1);
    }
}


/* ----- Media querry body 600px------ */

@media (max-width: 600px) {
    .row {
        width: 90%;
    }
}