/* Navigation bar */
@import url(styles.css);


/* Hero (body) */
.top-info h1{
    font-family: 'Esteban', serif;
    color: #4E9FB3;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: #e0000034;
}
.filter select{
    display: flex;
    font-family: 'Esteban', serif;
    color: #000;
    font-size: 16px;
    margin-left: auto;
    margin-right: 5%;
    background-color: #e0000034;
}
.mens-collection{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    width: 95%;
}
.products{
    flex-basis: 40%; 
}
.row{
    width: 220px;
    height: 500px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 40px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    padding-bottom: 200px;
}
.row img{
    width: 220px;
    height: 100%;
    transition: all .40s;
    padding-top: 0px;
    border: 2px solid #999896;
}
.row img:hover{
    transform: scale(0.95);
}
.product-text h2{
    font-family: 'Esteban', serif;
    position: relative;
    left: 0;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}
.detail h5{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}
.detail p{
    margin-top: 5px;
    color: #4E9FB3;
    font-size: 18px;
    font-weight: 600;
}
.color{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: none;
    border-radius: 50%;
    margin-right: 3px;
    cursor: pointer;
    margin-top: 5px;
    border: solid #000 1px;
    box-shadow: 5px 5px 6px #00000034;

}
.color-red{
    background-color: #D8152B;
}
.color-white{
    background-color: #f6f6f6;
}
.color-black{
    background-color: #1A1A1A;
}
.color-darkblue{
    background-color: #081B4B;
}
.color-black{
    background-color: #000000;
}
.color-yellow{
    background-color: #F9D059;
}
.color-grey{
    background-color: #9498BD;
}
.color-brown{
    background-color: #4F463C;
}
.color-green{
    background-color: #117221;
}
.color-navy{
    background-color: #434A3A;
}
.color-blue{
    background-color: #0c4d96;
}


/* ----- Media querry (removes img hover effect on mobile devices ------ */

@media (max-width:799px) {
    .row img:hover{
        transform: scale(1);
    } 
}