/* Navigation bar */
@import url(styles.css);


/* Hero (body) */
section {
    margin: 8%;
}

.container {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.container .img-col {
    width: 100%;
    margin-right: 50px;
    padding-left: 40px;
    padding-top: 80px;
}

#MainImg {
    width: 360px;
    border: 2px solid #999896;
}


.container .detail-col {
    width: 100%;
    padding-top: 30px;
    padding-right: 40px;
}

.container .detail-col h1 {
    font-size: 38px;
    font-weight: 600;
    padding: 40px 0 20px 0;
    color: #6F6E6E;
}

.container .detail-col h2 {
    font-size: 26px;
    font-family: 'Esteban', sans-serif;
    margin-bottom: 20px;
    color: #4E9FB3;
}

.container .detail-col h3 {
    padding-bottom: 10px;
}

.container .detail-col p {
    margin-top: 50px;
    line-height: 1.5;
}


.btn-add-to-cart {
    display: block;
    margin: 15px 0px;
    background-color: #4E9FB3;
    color: white;
    padding: 12px 45px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 2px 2px 5px #999896;
    transition: 0.3s;
}

.btn-add-to-cart:hover {
    background-color: #FF9252;
    color: black;
}



/* Cart--------------------Cart */
.cart-tab {
    max-width: 400px;
    height: 600px;
    background-color: #FBF2E8;
    color: #000000;
    position: fixed;
    right: -600px;
    bottom: 0;
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    transition: .5s;
    overflow: auto;
    z-index: 9999;
}


.cart-tab::-webkit-scrollbar {
    width: 0;
}

body.showCart .cart-tab {
    right: 0;
}

body.showCart .container {
    transform: translateX(-250px);
}

.cart-tab .cart-title {
    padding-top: 20px;
    text-align: center;
    font-weight: 600;

}

.cart-tab .cartBtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-tab button {
    background-color: #4E9FB3;
    border: none;
    height: 30px;
    font-weight: 600;
    cursor: pointer;
}

.cart-tab button:hover {
    background-color: #FBF2E8;
    transition: 0.3 ease-in;
}

.cart-tab .close {
    background-color: #FF9252;
}

.cart-item-template {
    overflow: auto;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    align-self: start;

}

.cart-table:first-child {
    margin-top: 40px;
}

.cart-info {
    display: flex;
    top: 0;
    flex-wrap: wrap;
}

.cart-info img {
    width: 70px;
}

.remove-btn {
    font-size: 14px;
    padding: 0px 5px;
    border-radius: 2px;
}

th {
    text-align: left;
    padding: 10px;
    color: #000000;
    background: #4E9FB3;
    font-weight: 600;
    border-bottom: 2px solid;

}

td {
    padding: 5px;
    border-bottom: 1px solid;
    background-color: #dad9d883;
    font-weight: 600;
    width: 100px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
    margin-left: 20px;
}

td img {
    width: 50px;
    height: 70px;
    margin-right: 10px;
}

td:last-child {
    text-align: right;
}

.cartItemContainer {
    max-height: 410px;
    overflow-y: auto;
}

.discounted-price {
    color: red;
}

@media (max-width:899px) {
    .cart-tab {
        max-height: 80%;
        max-width: 60%;
    }
}

/* ----- Media querry - body 799px------ */

@media (max-width:799px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .img-col {
        width: 100%;
        margin-right: 0;
        padding: 20px;
    }

    .container .detail-col {
        width: 100%;
    }

    .featured h2 {
        font-size: 20px;
    }
}


/* ----- Media querry - body 799px------ */

@media (max-width:470px) {

    #MainImg {
        width: 260px;
    }

    .small-img-group {
        display: flex;
        justify-content: space-between;
        width: 260px;
    }

    .container .detail-col h1 {
        font-size: 28px;
        font-weight: 600;
        padding: 40px 0 20px 0;
        color: #6F6E6E;
    }
}