@import url("styles.css");
.construction-container {
    background: linear-gradient(#4E9FB3, #FF9252);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


/* Under Construction Section */

.construction-container {
    padding-top: 100px;
    display: block;
    text-align: center;
}

.construction-icon {
    font-size: 64px;
    color: #e00000;
}

.construction-text {
    font-size: 28px;
    color: #000000;
    margin-top: 20px;
}